*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  margin-bottom: 120px;
}
body{
  background-color: #F5F8FF;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
footer{
   max-width: 1440px;
  margin: 0 auto;
}
/* header style */
.parents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-parents{
  display: flex;
  align-content: center;
  justify-content:center ;
  gap: 10px;
  padding: 0 22px;
}
.nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 10px;
  padding: 0 22px;

}

.nav ul a{
  text-decoration: none;
}
.home{
  color: #252432;
  font-weight: 500px;


}
.logo{
  max-width: 135px;
  max-height: 80px;
}



/* FRESH style*/
.FRESH{
  display: flex;
  align-items: end;
}
.fresh-title{
  gap: 13px;
}
.title-h{
   font-family: "Noto Serif", serif;
  font-weight:bold;
  font-size: 65px;
}
.red{
  color: #E95A08;
}
.title-des{
  font-size: 22px;
  color:rgba(0, 0, 0, 0.5);
}
.fresh-img img{
  max-width: 570px;
  max-height: 355px;
}
.plant-title{
  text-align: center;
}
.plant-title{
   font-family: "Noto Serif", serif;
  font-weight:bold;
  font-size: 50px;
}
.plan-p{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 16px;
}
  
/* card style */
.card{
  text-align: center;
}
.card img{
  margin-bottom: 30px;
}
.card .p{
  font-size: 22px;
  margin-bottom: 20px;
}
.p2{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}
.card button{
  padding: 20px 80px;
  background-color: #E95A08;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-bottom: 80px;
}
/* challenge style */
.challanges{
  display: flex;
  gap: 60px;
}
.img-section{
  position: relative;
  flex-grow: 1;
}
.img-section .img-main{
  
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 4;
}

.badge{
  position: absolute;
  top:-110px;
  right:-100px;
 width: 285px;
height: 285px;
box-shadow: rgba(0, 0, 0, 0.25);
}
.text-section{
 padding: 38px 0 38px 60px;
 max-width: 500px;
}
.challeng-title{
 font-family: "Noto Serif", serif;
  font-weight:bold;
  font-size: 50px;
  margin-bottom: 20px;
}
.text-section ul{
gap:20px;
}
.text-section li{
  font-size: 22px;
  font-family: "Inter", serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
/* deal style */
.deal{
  text-align: center;
}
.deal-title{
  margin-bottom: 16px;
font-family: "Noto Serif", serif;
  font-weight:bold;
  font-size: 50px;
}
.Latest{
  color: #E95A08;
}
.deal-des{
 font-family: "Inter", serif;
 font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
}
.deal-img{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 120px;
}

.second-img{
flex: 1;
 max-width: 50%;
}
.first-img div{
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}
.first-img {
  max-width: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.img-title1{
  background-image: url(./assets/deal-bloom.png);
  color: white;
  text-align: center;
  padding: 65px 20px 50px 50px;
}
.img-title2{
  background-image: url(./assets/deal-ana.png);
  color: white;
  text-align: center;
  padding: 60px 50px;
  
}

.deal-img button{
  background: unset;
  border: none;
  border-bottom: 1px solid white !important;
  color: white;
}
.second-img{
  background-image: url(./assets/deal-zabo.png);
  color: white;
  text-align: center;
  justify-items: center;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}
.second-img:after, .first-img div:after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 30%;
  
}
.second-img h5, .second-img button, .first-img h5, .first-img button{
  position: relative;
  z-index: 9;
}
.second-img h5{
  padding-top: 25%;
}
/* input style */
.join{
  background-image: url(./assets/news-letter-bg.png);
  /* padding: 200px 305px 193px 305px; */
  padding-top:200px ;
  padding-bottom: 266px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.join-title{
  font-family: "Noto Serif", serif;
  font-weight:bold;
  font-size: 50px;
  color: white;
  margin-bottom: 23px;
}
.join input{
  padding: 20px 8px;
  width: 644px;
  border: none;
  
}
.join button{
  padding: 20px 8px;
  width: 186px;
  color: white;
  background-color: #E95A08;
  border: none;
}

.f-nav ul{
  list-style: none;
  gap: 32px;
  color: rgba(107, 114, 128, 1);
}
.f-nav li{
 margin-bottom: 32px;
}
.icon{
  align-items:start;
}
.logos{
  align-items: start;
}
.logos .des{
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}


/* footer */
.footer-wrapper{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap:30px;


}
.logos{
  min-width: 340px;
}
.icon{
  display: flex;
  gap: 24px;
}
.icon .twitter{
  width: 40px;
  height: 40px;
  padding: 4px;
  background: white;
  border-radius: 50%;
}
/* responsive style */
@media screen and (max-width:576px) {
  .nav ul{
    display: none;

  }
  .parents{
    justify-content: space-between;
    width:100%;
  }
  .FRESH{
    display: flex;
    flex-direction: column-reverse;
  }
  .fresh-img img{
    margin-bottom: 28px;
    width:393px;
    padding-left: px;
  }
.title-h{
  width: 361px;
  font-size: 24px;
}
.title-des{
  width: 360px;
  font-size: 14px;
  margin: 0 auto;
}
.title{
  font-size: 24px;
}
.plan-p{
  font-size: 14px;
  width: 336px;
}
  .cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 362px;
}
.card{
  /* width:100%; */
  padding:auto;
  margin: none;
}
.card img{
  width: 171px;
}
.p{
  font-size: 16px;
}
.p2{
  font-size: 16px;
}
.btn{
  width: 171px;
  padding: 10px 20px;
  font-size: 16px;
}
.badge{
  display: none;
}
.challanges{
flex-direction:column;
}

.img-main{
  width: 358px;
  height: 396px;
  margin: 0 auto;
}
.challeng-title{
  font-size: 24px;
  width: 100%px;
}
.text-section{
  gap: 16px;
}
.text-section li{
  font-size: 14px;
}
.deal-title{
  font-size: 24px;
}
.deal-des{
  font-size: 14px;
}
.deal-img{
   display: flex;
  flex-direction: column;
}
.first-img div{
  display: flex;
  flex-direction: column;
  width: 361px;
  margin: 0 auto;
}
.second-img{
  width: 361px;
}
.join{
height: 275px;
}
.join-title{
  font-size: 20px;
}
.join input{
  width: 218px;
}
.join button{
width: 103px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:20px;
    padding: 10px;
}

}